*{
    margin: 0;
    padding: 0;
}
header img{
    width: 600px;
    margin-right: 300px;
}
header{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: black;
    padding: 50px;
}
nav>a{
    color: white;
    font-weight: 900;
    font-size: 40px;
    text-decoration: none;
    padding: 30px;
}

nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#ativo{
    border: solid 1px white;
    border-radius: 4px;
}
