main{
    display: flex;
    justify-content: center;
}

.container{
    text-align: center;
    padding: 40px;
}

.container h2{
    padding-bottom: 10px;
    color: black;
    font-size: 30px
}

.container img{
    width: 450px;
    border-radius: 10px;
}

.container p{
    padding-top: 10px;
    font-size: 22px;
}

h1{
    padding-top: 10px;
    text-align: center;
    font-size: 40px;
}