.section-01>img{
    width: 100vw;
}
footer{
    padding: 50px;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
}
footer div img{
    width: 700px;
}
footer div{
    display: flex;
    flex-direction: column;
}
footer p,h2{
    text-align: center;
    color: white;
}
footer p{
    margin-top: 40px;
    font-size: 30px;
}
footer h2{
    margin-top: 20px;
    font-size: 70px;
}